<div class="container">
  <div class="form-horizontal">

    <div class="form-group">
      <label class="control-label col-sm-2" for="rn">Roll Number:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="rn" [(ngModel)]='rollNumber' placeholder="Roll Number">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="fn">First Name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="fn" [(ngModel)]='data.firstName' placeholder="First Name">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="ln">Last Name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="ln" placeholder="Last Name" [(ngModel)]='data.lastName'>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default" (click)='saveForm()'>Submit</button>
      </div>
    </div>
  </div>
  {{ data.firstName }}
  <input type="text" [value]='data.firstName'>
  <br> {{ data.lastName }}
  <input type="text" [value]='data.lastName'>
</div>

<br>
<br>
<div class="container">
  <div class="form-horizontal">

    <div class="form-group">
      <label class="control-label col-sm-2" for="rn">Roll Number:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="rn" [(ngModel)]='rollNumber' placeholder="Roll Number">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default" (click)='deleteAData()'>Delete</button>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div class="container">
  <div class="form-horizontal">

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default" (click)='deleteAllData()'>Delete All Data</button>
      </div>
    </div>
  </div>
</div>